<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <style>
      .access-denied {
        background: red;
        color: white;
        border: dashed 2px white;
        padding: 5px;
        text-align: center;
      }
    </style>
  </head>
<body>

<h2 class="access-denied">Access Denied - You are not authorized to access this resource.</h2>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>
</html>