<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Confirmation</title>
</head>
<body>

<h3>Student Confirmation</h3>

The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}" />

<br/><br/>

Country: <span th:text="${student.country}" />

<br/><br/>

Favourite Programming Language: <span th:text="${student.favouriteLanguage}" />

<br/><br/>

Favourite Operating System:
<ul>
  <li th:each="currSystem : ${student.favouriteOperatingSystem}" th:text="${currSystem}"> </li>
</ul>

</body>
</html>